1. Generar funcion

In [ ]:
def Niveles_de_tanques(Tanque_1, Tanque_2, Tanque_3):
    promedio_total = (Tanque_1 + Tanque_2 + Tanque_3) / 3
    return f"""Reporte final de tanques:
    Total Average: {promedio_total}%
    Tanque 1: {Tanque_1}%
    Tanque 2: {Tanque_2}%
    Tanque 3: {Tanque_3}% 
    """

2. llamado de funcion (Tanques vacios)

In [ ]:
Niveles_de_tanques(0,0,0)

3. funcion de promedio

In [28]:
def promedio(values):
    suma_valor = sum(values)
    numero_tanques = len(values)
    return suma_valor / numero_tanques

In [30]:
promedio([56,87,98,65,100])

81.2

Ejercicio 2

In [7]:
def reporte_mision(lanzamiento, tiempo_vuelo, destino, tanque_11, tanque_12):
    return f"""
    Misión a {destino}
    Tiempo de vuelo total: {lanzamiento + tiempo_vuelo} dias
    Deposito de gasolina: {tanque_11 + tanque_12} galones
    """

print(reporte_mision(44, 5525, "Marte", 140000, 600000))

    Misión a Marte
    Tiempo de vuelo total: 5569 dias
    Deposito de gasolina: 740000 galones

In [19]:
def reporte_mision2(destino, *dias, **reservas_gasolina):
    return f"""
    Mision a {destino}
    Tiempo de vuelo total: {sum(dias)} dias
    Deposito de gasolina: {sum(reservas_gasolina.values())} Galones
    """

In [20]:
reporte_mision2('La Luna',53,Tanque_Principal=56,Tanque_secundario=89)

'\n    Mision a La Luna\n    Tiempo de vuelo total: 53 dias\n    Deposito de gasolina: 145 Galones\n    '